@mixin button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  position: absolute;

  &:hover {
    background-color: #555;
  }
}


@mixin buttonw {
  background-color: transparent;
  padding: 20px 30px;
  font-family: map-get($map: $mainFonts, $key: primary);
  border: 1px solid map-get($map: $mainColors, $key: black);


  &:hover {
    background-color: black;
    color: white;
  }

}@mixin image-button($padding: 20px 60px) {
  padding: $padding;
  position: absolute; 
  bottom: 50px; 
  left: 50%;
  transform: translateX(-50%); 

  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease; 
  visibility: hidden; 
  transition-delay: 4s;
  background-color: white;
  padding: $padding;
  font-size: 21px;
  font-weight: 400;
  color: black;
  border: 1px solid map-get($map: $mainColors, $key: black);
  font-family: map-get($map: $mainFonts, $key: second);
}