#privacy{
    padding: 3rem 0rem;
    h3{
        font-size: 2rem;
        font-family: "Fraunces";
        font-weight: 400;
        margin-top: 3rem;
    }
    p{
        color: grey;
        margin-top: 2rem;
       a{
        color: black;
       }
    }
    ol,ul{
        margin-left: 1rem;
         margin-top: 1rem;
          color: grey;
    }
}